.leagueTitle {
    font-family: "Josefin Sans", serif, sans-serif;
    text-align: center;
    list-style: none;
    font-size: 24px;
    line-height: 40px;
}

.pageHeader {
    font-family: "Josefin Sans", serif, sans-serif;
    text-align: center;
}