.styledHeader {
    background-color: darkslategray;
}

.styledHeader p{
    font-family: "Open Sans", sans-serif, serif;
    color: palegoldenrod;
    font-size: 14;
}

.styledRow {
    background-color: darkgray;
    border: 1px;
    border-color: black;
}

.styledRow p{
    font-family: "Open Sans", sans-serif, serif;
    color: darkslategray;
    font-size: 14;
}

.standingsText {
    font-family: "Open Sans", sans-serif, serif;
    font-size: 16px;
}

.standingsTable {
    padding-left: 10px;
    padding-right: 40px;
}