@import "https://fonts.googleapis.com/css?family=Inter";
@import "https://fonts.googleapis.com/css?family=Josefin+Sans";


body {
  background: palegoldenrod;
}

.bodyText {
  font-family: "Inter", serif, sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-left: 10px;
}

.pageHeader {
    font-family: "Josefin Sans", serif, sans-serif;
    text-align: center;
  }

.sectionHeader {
  text-align: center;
  font-family: "Inter", serif, sans-serif;
  list-style: none;
}

.sectionHeader ul{
  list-style: none;
}

.addTeamLink {
  display: flex;
  justify-content: center;
}

.addTeamTitle {
  text-decoration: none;
  color: white;
  width: 250px;
  height: 50px;
  line-height: 50px;
  background-color: darkslategray;
  text-align: center;
  text-decoration: none;
}

.addTeamTitle:hover {
  background-color: darkcyan;
    cursor: pointer;
}

.logout {
  padding: 2px;
  background-color: darkslategray;
  text-align: center;
  font-size: 12px;
  border-radius: 6px;
  font-family: "Open Sans", "Josefin Sans", serif;
  height: 30px;
  width: 100px;
}

.logout:hover {
  cursor: pointer;
  opacity: 50%;
}

.logoutContainer {
  text-align: center;
}